@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
    background-image: url(../img/wood-room.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #f4e8d7;
}

.flip-book {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: none;
  background-size: cover;
}

p {
  font-family: 'ZCOOL KuaiLe', cursive;
}

.page {
  padding: 20px;
  overflow: hidden;
}

.page .page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.page .cover-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.page.page-cover h2 {
  font-size: 3em;
  font-family: 'Creepster', cursive;
}

.page.page-cover h3 {
  font-size: 2em;
  font-family: 'Creepster', cursive;
}

.page .page-content .page-header {
  text-transform: uppercase;
  font-family: 'Creepster', cursive;
  font-size: 2.5em;
  letter-spacing: 3px;
  text-shadow: -4px 3px rgb(59, 29, 29);
  text-align: center;
  color: black;
}

.page .page-content .page-text {
  height: 100%;
  flex-grow: 1;
  font-size: 80%;
  text-align: justify;
  margin-top: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  border-top: solid 1px #f4e8d7;
  color: black;
}

.page-text > p {
  font-size: 1.25em;
  text-align: center;
  padding: 0 25px;
  font-weight: bolder;
}

button {
  cursor: pointer;
}

.buttons {
  text-align: center;
  z-index: 1;
}

.buttons button {
  padding: 5px 20px;
  margin: 0 3px 0 3px;
  border-radius: 0.5vh;
  border: none;
  background-color: rgb(144,114,59);
  box-shadow: -3px 3px rgb(59, 29, 29);
  font-weight: bold;
}

.buttons p {
  font-size: 1.25em;
  margin: 0;
}

.page.--left {
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.--right {
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.page-cover.page-cover-top {
  background-image: url("../img/red-cover.jpg");
  background-repeat: no-repeat;
  background-attachment:local;
  background-size: cover;
}

.page.bloody {
  background-image: url("../img/paper-3.jpg");
  background-attachment: inherit;
  color: #f4e8d7;
}

.page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.page-img {
  height: 100%;
  width: auto;
}

.page.page-cover.page-cover-bottom {
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
}

/* grid layout*/
.grid {
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 5vw;
    grid-template-rows: 1fr;
    grid-template-areas:
    ". book book .";
    width: 100%;
    height: 100%;
}

#book {
    grid-area: book;
    /* margin-left: 10%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* sound icons*/
#icon {
  width: 50px;
  height: auto;

}
#icon:hover {
  cursor: pointer;
}

/* subheading animations*/

.subheading {
  width: 17ch;
    animation: typing 4s steps(20), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.5em;
  }

  
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
/*------------ animations ------------- */
/*spider animation  */
.spider-animation {
  position: absolute;
}
.spider-animation .spider1 {
  transform: translateY(-300px);
  width: 50px;
  position: absolute;
  left: 450px;
  top: 150px;
}
.spider-animation .thread1 {
  transform: translateY(-300px);
  width: 2px;
  position: absolute;
  left: 474px;
  top: -400px;
}
/* skeleton animation */
.skeleton-animation {
 opacity: 0; 
}
.skeleton-animation .skeleton-head {
  position: absolute;
  width: 26px;
  left: 86px;
  top: 415px;
}
.skeleton-animation .skeleton-body {
  position: absolute;
  width: 140px;
  left: 10px;
  top: 400px;
}
/* ghost animation */
.ghost-animation .ghost {
  opacity: 0;
  position: absolute;
  width: 100px;
  right: 10px;
  top: 100px;
}
/* ----Spide death -----*/
.spider-death-animation {
  display: none;
}
.black-background {
  background-color: black;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.grey-background {
  background-color: rgb(87, 84, 84);
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.body-spider {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /*opacity: 0; */ 
  width: 150px;
  position: absolute;
  top: 200px;
}
.leg {
/*opacity: 0; */ 
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
width: 150px;
position: absolute;
top: 200px;
}
.left-leg:nth-child(1){
  right: -150px;
  top: 225px;
}
.left-leg:nth-child(2){
  right: -150px;
  top: 205px;
}
.left-leg:nth-child(3){
  right: -150px;
  top: 180px;
}
.right-leg:nth-child(1) {
  left: -150px;
  top: 225px;
}
.right-leg:nth-child(2){
  left: -150px;
  top: 205px;
}
.right-leg:nth-child(3){
  left: -150px;
  top: 180px;
}
.baby-spider {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 50px;
  position: absolute;
  top: 205px;
}
/* ----Scream death -----*/
.scream-animation{
  display: none;
     /*display: none;*/
}
.the-scream-picture {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 50px;
  position: absolute;
  top: 0;
}
.background-scream{
  background-color: black;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
/* ----blood  death -----*/
.blood-animation {
  display: none;
     /*display: none;*/
}
.background-blood {
  background-image: url("../img/animation/wall-background.jpg");
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.hand-blood-picture {
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  top: 0;
}
/*------------ end animations ------------- */
