@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

body {
    background-image: url(../img/wood-room.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #f4e8d7;
}

.flip-book {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: none;
  background-size: cover;
}

p {
  font-family: 'ZCOOL KuaiLe', cursive;
}

.page {
  padding: 20px;
  overflow: hidden;
}

.page .page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.page .cover-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

.page.page-cover h2 {
  font-size: 3em;
  font-family: 'Creepster', cursive;
}

.page.page-cover h3 {
  font-size: 2em;
  font-family: 'Creepster', cursive;
}

.page .page-content .page-header {
  text-transform: uppercase;
  font-family: 'Creepster', cursive;
  font-size: 2.5em;
  letter-spacing: 3px;
  text-shadow: -4px 3px rgb(59, 29, 29);
  text-align: center;
  color: black;
}

.page .page-content .page-text {
  height: 100%;
  flex-grow: 1;
  font-size: 80%;
  text-align: justify;
  margin-top: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  border-top: solid 1px #f4e8d7;
  color: black;
}

.page-text > p {
  font-size: 1.25em;
  text-align: center;
  padding: 0 25px;
  font-weight: bolder;
}

button {
  cursor: pointer;
}

.buttons {
  text-align: center;
  z-index: 1;
}

.buttons button {
  padding: 5px 20px;
  margin: 0 3px 0 3px;
  border-radius: 0.5vh;
  border: none;
  background-color: rgb(144,114,59);
  box-shadow: -3px 3px rgb(59, 29, 29);
  font-weight: bold;
}

.buttons p {
  font-size: 1.25em;
  margin: 0;
}

.page.--left {
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.--right {
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.page-cover.page-cover-top {
  background-image: url("../img/red-cover.jpg");
  background-repeat: no-repeat;
  background-attachment:local;
  background-size: cover;
}

.page.bloody {
  background-image: url("../img/paper-3.jpg");
  background-attachment: inherit;
  color: #f4e8d7;
}

.page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.page.page-cover.page-cover-bottom {
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
}

/* grid layout*/
.grid {
    display: grid;
    grid-template-columns: 5vw 1fr 1fr 5vw;
    grid-template-rows: 1fr;
    grid-template-areas:
    ". book book .";
    width: 100%;
    height: 100%;
}

#book {
    grid-area: book;
    /* margin-left: 10%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}